body {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
	  overflow-x: hidden; /* Hide horizontal scrollbar */
}


.header {
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  z-index: 2;
}

.search-container {
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 55px;
  background-color: #000000;

  justify-content: center;
}


/* input field */
input[type="text"] {
  width: 400px;
    height: 20px;
    padding: 5px;
    border-radius: 30px 0px 0px 30px;
    border-color: #252121;
    border-style: solid;
    border-width:1px;
    background-color: #1b1b1b;
    color: #979797;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding-left: 14px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  
}

input:hover {
  background-color: #202020;}


input[type="text"]::placeholder {
  font-style: italic;
  color: #979797;
}






button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  height: 32px;
  background-color: #1d1d1d;
  color: #777777;
  border: none;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
  border-color: #252121;
  border-style: solid;
  border-width: 1px;
  border-left: 15px;
  transition: background-color 0.6s ease;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

button:hover {
  background-color: #242424;
  color: #494949;
}

input {
    outline: none;

}



.container{ 
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  height: fit-content;
  width: 100%;
  gap: 0;
  padding-top: 50px;
}




.video-container {
  box-sizing: border-box;
  display: inline-block;
  display: flex;
  width: 549px;
  height:100%; 
  overflow: hidden;
  padding:0px; 
  justify-content: center;

 
}




iframe {
  margin: 0;
  padding: 0;
  

}

iframe:hover {

  filter: brightness(89%);
}






.delete-button {
    font-size: 14px;
    position: absolute;
    top: 5px;
    right: 3px;
    z-index: 1;
    display: none;
    background-color: #1d1d1d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px 8px 8px 8px;
    height:32px; 
    width: 50px;
    text-align: center;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
  }
  

  .delete-button:hover {
    color: #797979;
    background-color: #242424;
    transition: background-color 1s;

  }
  
  .video-container:hover .delete-button {
	display: block;
  }
  

  .move-button {
    opacity: 0;
    font-size: 14px;
    position: absolute;
    top: 5px;
    left: 0px;
    right: 20px;
    z-index: 1;
    background-color: #1d1d1d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px 8px 8px 8px;
    height:32px; 
    width: 50px;
    text-align: center;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
  }
  
  .move-button:hover {
    opacity: 1;
  }
  
  .move-button span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  

.move-button:hover {
    color: #797979;
    background-color: #242424;
    transition: background-color 1s;
}

.video-container:hover .move-button {
    opacity: 1;
  }




  
/* nav placement and padding/margins */

.header {
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  z-index: 2;
}

.tbuttwrap {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  background-color: transparent;
}

.tbutt {
  cursor: context-menu;
  height: 20px;
  background-color: #1b1b1b;
  color:#494949;
  padding: 6px; 
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  margin: 0 2px;
  border-radius: 0px 0px 20px 20px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}




.tbutt:hover {
  transition: background-color 1s;
  color: #686868;
  background-color:#242424;
}



.dropdown {
  position: relative;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1d1d1d;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right:13px; 
  padding-left: 13px;
  width:550px;
  border-radius: 20px;
  color: #838383;  
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  border: 1px solid  #252121;

}

.dropdown.active .dropdown-content {
  display: block;
}




/* unvisited link */
a:link {
  color: rgb(94, 94, 94);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}





.hidden {
    display: none;
  }



  #hide-button {
    background-color: #1d1d1d;
    color: #838383;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.2s ease-in-out;
    position: fixed;
    top: 6%;
    left: 0;
    transform: translateY(-50%);
    z-index: 9999;
  }
  
  #hide-button:hover {    
    background-color: #242424;
  }
  

